.movie-item {
    position: relative;
    display: flex;
    padding: 5px 10px;
    align-items: center;
}

.movie-items-label {
    font-weight: bold;
    padding: 10px;
}

.movie-item .movie-item-title {
    padding: 0 10px;
    user-select: none;
    cursor: pointer;
}

.movie-items-group {
    margin-top: 20px;
}

.movie-items-group .no-items {
    padding: 5px 10px;
    color: var(--colorDarkGrey);
}

.movie-item .fa {
    cursor: pointer;
}

.movie-item .fa-star,
.movie-item .fa-star-o {
    color: var(--starColor);
}

.movie-item .fa-arrow-up {
    color: var(--colorGreenYellow);
    margin-right: 5px;
}

.movie-item .fa-arrow-down {
    color: var(--colorCrimson);
}

.movie-item-tooltip {
    position: absolute;
    width: var(--tooltipWidth);
    top: 0;
    right: -40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--tooltipBorderColor);
    border-radius: var(--tooltipBorderRadius);
    background: var(--tooltipBackgroundColor);
    padding: 10px;
    z-index: 10;
    text-align: center;
}

.movie-item-tooltip .movie-item-name {
    font-weight: bold;
    padding: 10px 0;
}