:root {
    --colorDarkGrey: #A9A9A9;
    --colorGreenYellow: #ADFF2F;
    --colorCrimson: #DC143C;

    --fontSize: 1rem;
    --appMaxWidth: 400px;

    --starColor: #fdd003;
    --loaderColor: #A5A7A4;
    --loaderWidth: 50px;
    --loaderHeight: 40px;

    --tooltipBorderColor: #A5A7A4;
    --tooltipBorderRadius: 4px;
    --tooltipWidth: 182px;
    --tooltipBackgroundColor: #ffffff;
}